* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 150px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  margin-right: 25px;
  font-size: 18px;
}

h1 {
  font-size: 48px;
}
/* Hero section */
.hero_container {
  background-color: #1f2937;
  height: 80vh;
}

.logo h2 {
  color: #fff;
}

.heading_container {
  color: #f9faf8;
  margin-top: 20vh;
  padding-left: 150px;
  max-width: 450px;
}

.signup {
  margin-top: 15px;
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  width: 100px;
  height: 40px;
  font-weight: bold;
  border-radius: 10px;
}

.placeholder_image {
  width: 500px;
  height: 250px;
  background-color: #6D747D;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 250px;;
}

.hero_content {
  display: flex;
}

/* random information section */
.random_info_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.random_info_section h2 {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin: 25px 0;
}

.box {
  height: 150px;
  width: 150px;
  border: 5px solid #3882f6;
  border-radius: 25px;
}

.box_container {
  max-width: 150px;
  text-align: center;
  margin-top: 20px;
}

.box_container p {
  margin-top: 20px;
  color: #616A76;
}

.random_boxes {
  display: flex;
  justify-content: center;
  gap: 45px;
}

/* Qoute Section */
.quote_section {
  height: 75vh;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote_text {
  font-size: 36px;
  font-weight: lighter;
}

.quote_content_wrapper {
  max-width: 600px;
}

.quote_author {
  margin-left: 400px;
  margin-top: 25px;
}
