* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 150px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  margin-right: 25px;
  font-size: 18px;
}

h1 {
  font-size: 48px;
}

.hero_container {
  background-color: #1f2937;
  height: 80vh;
}

.logo h2 {
  color: #fff;
}

.heading_container {
  color: #f9faf8;
  margin-top: 20vh;
  padding-left: 150px;
  max-width: 450px;
}

.signup {
  margin-top: 15px;
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  width: 100px;
  height: 40px;
  font-weight: bold;
  border-radius: 10px;
}

.placeholder_image {
  width: 500px;
  height: 250px;
  background-color: #6D747D;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 250px;;
}

.hero_content {
  display: flex;
}
